<h1>Log In Below:</h1>
<form action="/sessions" method="POST">
  <label>E-Mail:</label>
  <p><input type="text" name="email" id="email"></p>
  <label>Password:</label>
  <p><input type="text" name="password" id="password"></p>
  
  <input type="submit" value="Submit" id="Log In">
</form>
