<h1>Log In Below:</h1>
<form action="/sessions" method="post">
  Email: <input name="email" type="text"><br>
  Password: <input name="password" type="text"><br>
  <input type="submit" value="Log In">
</form>

