<h1>Log In Below:</h1>

<form action="/sessions" method="post">
  <lable for="email">Email</lable>
  <input type="email" name="email">
  <lable for="password">Password</lable>
  <input type="password" name="password">
  <input id="login" type="submit" value="Log In">
</form>
