<h1>Log In Below:</h1>
<form method="POST" action="/sessions">
<label>Email:<input type="text" name="email" id="email"/></label>
<label>Password: <input type="text" name="password" id="password"/></label>
<input type="submit" value="Log In" id="submit"/>
</form>
