<h1>Log In Below:</h1>

<p><form method="post" action="/sessions" >
  email<input type="text" name="email">
  password<input type="text" name="password">
  <input type="submit" name="Log In" value="Log In" id="Log In">
</form>
</p>
