<h1>Log In Below:</h1>
<form method="post" action="/sessions">
  <h3>EMAIL</h3>
  <input type="text" name="user[email]">
  <h3>PASSWORD</h3>
  <input type="text" name="user[password]">
  <br><br>
  <button type="submit" value="submit">Log In</button>
</form>
