<h1>Log In Below:</h1>

<form action="/sessions" method="post">
  <label for="email"></label>Email: <input type="text" name="email"><br>
  <label for="password"></label>Password: <input type="text" name="password"><br>
  <input type="submit" id="Log In">
</form>
