<h1>Log In Below:</h1>

<form action="/sessions" method="post">
  <label for="">Email: </label>
  <input type="text" name="email" id="">
  <label for="">Password: </label>
  <input type="text" name="password" id="">
  <input type="submit" name="" id=""value="Log In">
</form>