<h1>Log In Below:</h1>


<form method='post' action='/sessions'>
  <input type='text' name="name" value="Ms Default" />
  <input type='text' id="email" name="email" value="default@default.net" />
  <input type='password' id="password" name="password" value="ThisIsThePassword" />
  <input type='submit' value='Log In' id='submit' name='submit' />
</form>


