<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
  <input type="text" name="name" value="">
  <input type="password" name="password" value="">
  <input type="text" name="email">
  <input type="submit" value="Sign Up">
</form>
