<h1>Sign Up Below:</h1>
<form action="/registrations" method="POST">
  <label>Name:</label>
  <p><input type="text" name="name" id="name"></p>
  <label>E-Mail:</label>
  <p><input type="text" name="email" id="email"></p>
  <label>Password:</label>
  <p><input type="text" name="password" id="password"></p>
  
  <input type="submit" value="Submit" id="Sign Up">
</form>

