<h1>Sign Up Below:</h1>
<form action="/registrations" method="post"> 
    
    <label for="name">Name:</labels>
    <input type="text" name="name" id="name">

    <label for="email">Email:</labels>
    <input type="email" name="email" id="email">

    <label for="passsword">Password:</labels>
    <input type="password" name="password" id="password">

    <input type="submit" id="submit" value="Sign Up">
</form>
