<h1>Sign Up Below:</h1>

<form method="POST" action="/registrations">
  <h3>Name: <input type="text" name="name" placeholder="Name" required></h3>
  <h3>Email: <input type="text" name="email" placeholder="Email" required></h3>
  <h3>Password: <input type="password" name="password" placeholder="Password" required></h3>

  <input type="submit" id="submit" value="Sign Up!">
</form>
