<h1>Sign Up Below:</h1>
<form method="POST" action="/registrations">
  <h2><label for="name">Name: </label>
  <input name="name" type="text" id="name"></h2>

  <h2><label for="email">Email: </label>
  <input name="email" type="text" id="email"></h2>

  <h2><label for="password">Password: </label>
  <input name="password" type="password" id="password"></h2>

  <input type="submit" value="Submit">
</form>
