<h1>Sign Up Below:</h1>

<form action="/registrations" method="POST">
  <label>name:</label>
  <input type="text" name="name">
  <label>Email:</label>
  <input type="text" name="email" >
  <label>Password:</label>
  <input id="password" type="text">
  <input type="submit" value="Sign Up">
</form>
