<h1>Sign Up Below:</h1>


<form class="" action="/registrations" method="post">
  <label for="name">
    <input type="text" id="name" name="name"/>
  </label>
  <label for="email">
    <input type="email" id="email" name="email"/>
  </label>
  <label for="password">
    <input type="password" id="password" name="password"/>
  </label>
  <input type='submit' value='Sign Up'/>
</form>
