<h1>Sign Up Below:</h1>


<form method="POST" action="/registrations">
  Name:<input type="text" name="name"></input>
  Email:<input type="text" name="email"></input>
  Password:<input type="text" name="password"></input>
  <input type="submit" value="submit" name="submit" id="Sign Up"></input>
</form>
