<h1>Sign Up Below:</h1>
<form method="post" action="/registrations">
  <h3>NAME</h3>
  <input type="text" name="user[name]">
  <h3>EMAIL</h3>
  <input type="text" name="user[email]">
  <h3>PASSWORD</h3>
  <input type="text" name="user[password]">
  <br><br>
  <button type="submit" value="submit">Sign Up</button>
</form>
