<h1>Sign Up Below:</h1>

<form action = '/registrations' method = 'post'>

User Name: <input type = 'text' name = 'name' id = 'name'>
E-mail: <input type = 'email' name = 'email' id = 'email'>
Pasword: <input type = 'password' name = 'password' id = 'password'>
<input type = 'submit' id = 'submit' value = 'Sign Up'>

</form>
