<h1>Sign Up Below:</h1>

<form method='post' action='/registrations'>
  <input type='text' name="name" value="Ms Default" />
  <input type='text' name="email" value="default@default.net" />
  <input type='password' name="name" value="ThisIsThePassword" />
  <input type='submit' value='submit' id='submit' name='submit' />
</form>


